body {
  margin: 0;
  padding: 0;
  background: rgba(228, 0, 0, 0);
  font-family: sans-serif;
}
ul {
  width: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
ul a {
  background: red;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  display: block;
  margin: 10px;
  text-decoration: none;
  float: left;
  transition: 0.4s all;
}
ul a:hover {
  background-color: rgb(211, 38, 38);
}
section {
  float: left;
}
section img {
  width: 300px;
  height: 300px;
  margin: 10px;
  display: none;
}
section :target img {
  display: block;
}
/* ul a {
  background-color: rgb(255, 0, 0);
  color: white;
  height: 25px;
  width: 90px;
  font-size: 20px;
  padding: 10px 20px;
  display: block;
  margin: 10px;
  text-align: center;
  text-decoration: none;
} */
/* 
section {
  float: left;
}
 */
