---
import "../styles/global.css";
---

<div class="about">
  <h1>About MalluFlix</h1>
  <p>MalluFlix is a Netflix-style movie website built using Astro.</p>
  <h2>Technologies Used</h2>
  <ul>
    <li>Astro</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>Git</li>
    <li>GitHub</li>
    <li>Netlify</li>
    <li>Cloudflare Pages</li>
  </ul>

  <h2>Developer</h2>
  <p>Sonu Ishan</p>
  <p>Front-End Developer</p>

  <a
    class="github-btn"
    href="https://github.com/sonu2020"
    target="_blank"
    rel="noopener noreferrer"
  >
    Visit My GitHub
  </a>
</div>
