---
import MovieSearchBar from "./MovieSearchBar.jsx";
import { Classic_malayalam_Movies } from "../data/movies";
import { Popular_Malayalam_movies } from "../data/movies";
import { Top_Tamil_Movies } from "../data/movies";
import { Top_Hindi_Movies } from "../data/movies";

const allMovies = [
  ...Classic_malayalam_Movies,
  ...Popular_Malayalam_movies,
  ...Top_Tamil_Movies,
  ...Top_Hindi_Movies,
];
---

<div class="navbar">
  <h2 class="footer-logo">MALLUFLIX</h2>

  <MovieSearchBar movies={allMovies} client:load />
  <div>
    <a href="/trending" class="about-btn">Trending</a>
    <a href="/about" class="about-btn">About</a>
  </div>
</div>
