<div class="navbar">
  <img class="logo-img" src="/thumbnails/malluflixlog.png" />

  <div class="search-box">
    <input type="text" placeholder="Search movies..." />
    <button class="button-search">Search</button>
  </div>
</div>
