<!-- <header class="navbar">
  <img src="/thumbnails/logo.png" alt="Netflix Logo" />

  <nav>
    <a href="/">Home</a>
    <a href="/movies">Movies</a>
    <a href="/tv">TV Shows</a>
    <a href="/my-list">My List</a>
  </nav>
</header> -->
